/* Basic styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #f4f4f4;
    scroll-behavior: smooth;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

/*transitions*/
.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1.5s ;
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

img.rounded-corners {
    border-radius: 5px;
  }

header {
    background: #1b1b1b;
    color: white;
    display: inline-block;
    justify-content: space-between;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 5;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;   
}

header.sticky {
    background: #272727;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header p{
    margin: 0;
    font-size: 1.5em;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
    color: white;
    font-size: 1.2em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #5f00c4;
}

@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header .header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav.alignright ul {
        flex-direction: column;
        margin-top: 10px;
    }

    header nav.alignright ul li {
        margin: 5px 0;
    }
}

section {
    padding: 5em 0;
    margin-top: 90px;
    position: relative;
    color: white;
}

section h2 {
    border-bottom: 3px solid #400083;
    padding-bottom: 0.5em;
    font-family: 'Montserrat', sans-serif;
    animation: fadeInDown 1s ease-in-out;
}

footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Animations for projects and skills */
.project-grid, .skills-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 2;
    gap: 1.5em;
}

.project, .skill {
    background: #1f1f1f;
    padding: 1.5em;
    border-radius: 10px;
    
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 3em);
    margin: 1.5em 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #f4f4f4;
}

.project:hover, .skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.project h3, .skill h3 {
    margin-top: 0;
    color: #bd93f9;
}

.skill i {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #5f00c4;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    padding: 1.5em;
    border-radius: 10px;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
    background-color: #1f1f1f;
    /*padding: 1.5em; 20px*/
    border-radius: 10px;
    margin: 15% auto;
    padding: 1.5em;
    border: 2px solid #5f00c4;
    width: 80%;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .project, .skill {
        flex: 1 1 100%;
    }
}
